/****** RESET ******/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.container-fluid{
    width: 100%;
    max-width: 100%;
}

/****** PADDING ******/

/* Full padding */

.p-0{
    padding: 0;
}

.p-5{
    padding: 5px;
}

.p-10{
    padding: 10px;
}

.p-15{
    padding: 15px;
}

.p-20{
    padding: 20px;
}

.p-25{
    padding: 25px;
}

.p-30{
    padding: 30px;
}

.p-40{
    padding: 40px;
}

.p-50{
    padding: 50px;
}

.p-100{
    padding: 100px;
}

/* padding y */

.p-y-0{
    padding-top: 0px;
    padding-bottom: 0px;
}

.p-y-5{
    padding-top: 5px;
    padding-bottom: 5px;
}

.p-y-10{
    padding-top: 10px;
    padding-bottom: 10px;
}

.p-y-15{
    padding-top: 15px;
    padding-bottom: 15px;
}

.p-y-20{
    padding-top: 20px;
    padding-bottom: 20px;
}

.p-y-25{
    padding-top: 25px;
    padding-bottom: 25px;
}

.p-y-30{
    padding-top: 30px;
    padding-bottom: 30px;
}

.p-y-40{
    padding-top: 40px;
    padding-bottom: 40px;
}

.p-y-50{
    padding-top: 50px;
    padding-bottom: 50px;
}

.p-y-100{
    padding-top: 100px;
    padding-bottom: 100px;
}

/* padding x */

.p-x-0{
    padding-left: 0px;
    padding-right: 0px;
}

.p-x-5{
    padding-left: 5px;
    padding-right: 5px;
}

.p-x-10{
    padding-left: 10px;
    padding-right: 10px;
}

.p-x-15{
    padding-left: 15px;
    padding-right: 15px;
}

.p-x-20{
    padding-left: 20px;
    padding-right: 20px;
}

.p-x-25{
    padding-left: 25px;
    padding-right: 25px;
}

.p-x-30{
    padding-left: 30px;
    padding-right: 30px;
}

.p-x-40{
    padding-left: 40px;
    padding-right: 40px;
}

.p-x-50{
    padding-left: 50px;
    padding-right: 50px;
}

.p-x-100{
    padding-left: 100px;
    padding-right: 100px;
}

/* padding top */

.p-t-0{
    padding-top: 0px;
}

.p-t-5{
    padding-top: 5px;
}

.p-t-10{
    padding-top: 10px;
}

.p-t-15{
    padding-top: 15px;
}

.p-t-20{
    padding-top: 20px;
}

.p-t-25{
    padding-top: 25px;
}

.p-t-30{
    padding-top: 30px;
}

.p-t-40{
    padding-top: 40px;
}

.p-t-50{
    padding-top: 50px;
}

.p-t-100{
    padding-top: 100px;
}

/* padding bottom */

.p-b-0{
    padding-bottom: 0px;
}

.p-b-5{
    padding-bottom: 5px;
}

.p-b-10{
    padding-bottom: 10px;
}

.p-b-15{
    padding-bottom: 15px;
}

.p-b-20{
    padding-bottom: 20px;
}

.p-b-25{
    padding-bottom: 25px;
}

.p-b-30{
    padding-bottom: 30px;
}

.p-b-40{
    padding-bottom: 40px;
}

.p-b-50{
    padding-bottom: 50px;
}

.p-b-100{
    padding-bottom: 100px;
}

/* padding left */

.p-l-0{
    padding-left: 0px;
}

.p-l-5{
    padding-left: 5px;
}

.p-l-10{
    padding-left: 10px;
}

.p-l-15{
    padding-left: 15px;
}

.p-l-20{
    padding-left: 20px;
}

.p-l-25{
    padding-left: 25px;
}

.p-l-30{
    padding-left: 30px;
}

.p-l-40{
    padding-left: 40px;
}

.p-l-50{
    padding-left: 50px;
}

.p-l-100{
    padding-left: 100px;
}

/* padding right */

.p-r-0{
    padding-right: 0px;
}

.p-r-5{
    padding-right: 5px;
}

.p-r-10{
    padding-right: 10px;
}

.p-r-15{
    padding-right: 15px;
}

.p-r-20{
    padding-right: 20px;
}

.p-r-25{
    padding-right: 25px;
}

.p-r-30{
    padding-right: 30px;
}

.p-r-40{
    padding-right: 40px;
}

.p-r-50{
    padding-right: 50px;
}

.p-r-100{
    padding-right: 100px;
}

/****** MARGIN ******/

/* Full margin */

.m-0{
    margin: 0;
}

.m-5{
    margin: 5px;
}

.m-10{
    margin: 10px;
}

.m-15{
    margin: 15px;
}

.m-20{
    margin: 20px;
}

.m-25{
    margin: 25px;
}

.m-30{
    margin: 30px;
}

.m-40{
    margin: 40px;
}

.m-50{
    margin: 50px;
}

.m-100{
    margin: 100px;
}

/* margin y */

.m-y-0{
    margin-top: 0px;
    margin-bottom: 0px;
}

.m-y-5{
    margin-top: 5px;
    margin-bottom: 5px;
}

.m-y-10{
    margin-top: 10px;
    margin-bottom: 10px;
}

.m-y-15{
    margin-top: 15px;
    margin-bottom: 15px;
}

.m-y-20{
    margin-top: 20px;
    margin-bottom: 20px;
}

.m-y-25{
    margin-top: 25px;
    margin-bottom: 25px;
}

.m-y-30{
    margin-top: 30px;
    margin-bottom: 30px;
}

.m-y-40{
    margin-top: 40px;
    margin-bottom: 40px;
}

.m-y-50{
    margin-top: 50px;
    margin-bottom: 50px;
}

.m-y-100{
    margin-top: 100px;
    margin-bottom: 100px;
}

/* margin x */

.m-x-0{
    margin-left: 0px;
    margin-right: 0px;
}

.m-x-5{
    margin-left: 5px;
    margin-right: 5px;
}

.m-x-10{
    margin-left: 10px;
    margin-right: 10px;
}

.m-x-15{
    margin-left: 15px;
    margin-right: 15px;
}

.m-x-20{
    margin-left: 20px;
    margin-right: 20px;
}

.m-x-25{
    margin-left: 25px;
    margin-right: 25px;
}

.m-x-30{
    margin-left: 30px;
    margin-right: 30px;
}

.m-x-40{
    margin-left: 40px;
    margin-right: 40px;
}

.m-x-50{
    margin-left: 50px;
    margin-right: 50px;
}

.m-x-100{
    margin-left: 100px;
    margin-right: 100px;
}

/* margin top */

.m-t-0{
    margin-top: 0px;
}

.m-t-5{
    margin-top: 5px;
}

.m-t-10{
    margin-top: 10px;
}

.m-t-15{
    margin-top: 15px;
}

.m-t-20{
    margin-top: 20px;
}

.m-t-25{
    margin-top: 25px;
}

.m-t-30{
    margin-top: 30px;
}

.m-t-40{
    margin-top: 40px;
}

.m-t-50{
    margin-top: 50px;
}

.m-t-100{
    margin-top: 100px;
}

/* margin bottom */

.m-b-0{
    margin-bottom: 0px;
}

.m-b-5{
    margin-bottom: 5px;
}

.m-b-10{
    margin-bottom: 10px;
}

.m-b-15{
    margin-bottom: 15px;
}

.m-b-20{
    margin-bottom: 20px;
}

.m-b-25{
    margin-bottom: 25px;
}

.m-b-30{
    margin-bottom: 30px;
}

.m-b-40{
    margin-bottom: 40px;
}

.m-b-50{
    margin-bottom: 50px;
}

.m-b-100{
    margin-bottom: 100px;
}

/* margin left */

.m-l-0{
    margin-left: 0px;
}

.m-l-5{
    margin-left: 5px;
}

.m-l-10{
    margin-left: 10px;
}

.m-l-15{
    margin-left: 15px;
}

.m-l-20{
    margin-left: 20px;
}

.m-l-25{
    margin-left: 25px;
}

.m-l-30{
    margin-left: 30px;
}

.m-l-40{
    margin-left: 40px;
}

.m-l-50{
    margin-left: 50px;
}

.m-l-100{
    margin-left: 100px;
}

/* margin right */

.m-r-0{
    margin-right: 0px;
}

.m-r-5{
    margin-right: 5px;
}

.m-r-10{
    margin-right: 10px;
}

.m-r-15{
    margin-right: 15px;
}

.m-r-20{
    margin-right: 20px;
}

.m-r-25{
    margin-right: 25px;
}

.m-r-30{
    margin-right: 30px;
}

.m-r-40{
    margin-right: 40px;
}

.m-r-50{
    margin-right: 50px;
}

.m-r-100{
    margin-right: 100px;
}


@media screen and (min-width: 576px) {

/****** PADDING ******/

/* Full padding */

.p-sm-0{
    padding: 0;
}

.p-sm-5{
    padding: 5px;
}

.p-sm-10{
    padding: 10px;
}

.p-sm-15{
    padding: 15px;
}

.p-sm-20{
    padding: 20px;
}

.p-sm-25{
    padding: 25px;
}

.p-sm-30{
    padding: 30px;
}

.p-sm-40{
    padding: 40px;
}

.p-sm-50{
    padding: 50px;
}

.p-sm-100{
    padding: 100px;
}

/* padding y */

.p-sm-y-0{
    padding-top: 0px;
    padding-bottom: 0px;
}

.p-sm-y-5{
    padding-top: 5px;
    padding-bottom: 5px;
}

.p-sm-y-10{
    padding-top: 10px;
    padding-bottom: 10px;
}

.p-sm-y-15{
    padding-top: 15px;
    padding-bottom: 15px;
}

.p-sm-y-20{
    padding-top: 20px;
    padding-bottom: 20px;
}

.p-sm-y-25{
    padding-top: 25px;
    padding-bottom: 25px;
}

.p-sm-y-30{
    padding-top: 30px;
    padding-bottom: 30px;
}

.p-sm-y-40{
    padding-top: 40px;
    padding-bottom: 40px;
}

.p-sm-y-50{
    padding-top: 50px;
    padding-bottom: 50px;
}

.p-sm-y-100{
    padding-top: 100px;
    padding-bottom: 100px;
}

/* padding x */

.p-sm-x-0{
    padding-left: 0px;
    padding-right: 0px;
}

.p-sm-x-5{
    padding-left: 5px;
    padding-right: 5px;
}

.p-sm-x-10{
    padding-left: 10px;
    padding-right: 10px;
}

.p-sm-x-15{
    padding-left: 15px;
    padding-right: 15px;
}

.p-sm-x-20{
    padding-left: 20px;
    padding-right: 20px;
}

.p-sm-x-25{
    padding-left: 25px;
    padding-right: 25px;
}

.p-sm-x-30{
    padding-left: 30px;
    padding-right: 30px;
}

.p-sm-x-40{
    padding-left: 40px;
    padding-right: 40px;
}

.p-sm-x-50{
    padding-left: 50px;
    padding-right: 50px;
}

.p-sm-x-100{
    padding-left: 100px;
    padding-right: 100px;
}

/* padding top */

.p-sm-t-0{
    padding-top: 0px;
}

.p-sm-t-5{
    padding-top: 5px;
}

.p-sm-t-10{
    padding-top: 10px;
}

.p-sm-t-15{
    padding-top: 15px;
}

.p-sm-t-20{
    padding-top: 20px;
}

.p-sm-t-25{
    padding-top: 25px;
}

.p-sm-t-30{
    padding-top: 30px;
}

.p-sm-t-40{
    padding-top: 40px;
}

.p-sm-t-50{
    padding-top: 50px;
}

.p-sm-t-100{
    padding-top: 100px;
}

/* padding bottom */

.p-sm-b-0{
    padding-bottom: 0px;
}

.p-sm-b-5{
    padding-bottom: 5px;
}

.p-sm-b-10{
    padding-bottom: 10px;
}

.p-sm-b-15{
    padding-bottom: 15px;
}

.p-sm-b-20{
    padding-bottom: 20px;
}

.p-sm-b-25{
    padding-bottom: 25px;
}

.p-sm-b-30{
    padding-bottom: 30px;
}

.p-sm-b-40{
    padding-bottom: 40px;
}

.p-sm-b-50{
    padding-bottom: 50px;
}

.p-sm-b-100{
    padding-bottom: 100px;
}

/* padding left */

.p-sm-l-0{
    padding-left: 0px;
}

.p-sm-l-5{
    padding-left: 5px;
}

.p-sm-l-10{
    padding-left: 10px;
}

.p-sm-l-15{
    padding-left: 15px;
}

.p-sm-l-20{
    padding-left: 20px;
}

.p-sm-l-25{
    padding-left: 25px;
}

.p-sm-l-30{
    padding-left: 30px;
}

.p-sm-l-40{
    padding-left: 40px;
}

.p-sm-l-50{
    padding-left: 50px;
}

.p-sm-l-100{
    padding-left: 100px;
}

/* padding right */

.p-sm-r-0{
    padding-right: 0px;
}

.p-sm-r-5{
    padding-right: 5px;
}

.p-sm-r-10{
    padding-right: 10px;
}

.p-sm-r-15{
    padding-right: 15px;
}

.p-sm-r-20{
    padding-right: 20px;
}

.p-sm-r-25{
    padding-right: 25px;
}

.p-sm-r-30{
    padding-right: 30px;
}

.p-sm-r-40{
    padding-right: 40px;
}

.p-sm-r-50{
    padding-right: 50px;
}

.p-sm-r-100{
    padding-right: 100px;
}

/****** MARGIN ******/

/* Full margin */

.m-sm-0{
    margin: 0;
}

.m-sm-5{
    margin: 5px;
}

.m-sm-10{
    margin: 10px;
}

.m-sm-15{
    margin: 15px;
}

.m-sm-20{
    margin: 20px;
}

.m-sm-25{
    margin: 25px;
}

.m-sm-30{
    margin: 30px;
}

.m-sm-40{
    margin: 40px;
}

.m-sm-50{
    margin: 50px;
}

.m-sm-100{
    margin: 100px;
}

/* margin y */

.m-sm-y-0{
    margin-top: 0px;
    margin-bottom: 0px;
}

.m-sm-y-5{
    margin-top: 5px;
    margin-bottom: 5px;
}

.m-sm-y-10{
    margin-top: 10px;
    margin-bottom: 10px;
}

.m-sm-y-15{
    margin-top: 15px;
    margin-bottom: 15px;
}

.m-sm-y-20{
    margin-top: 20px;
    margin-bottom: 20px;
}

.m-sm-y-25{
    margin-top: 25px;
    margin-bottom: 25px;
}

.m-sm-y-30{
    margin-top: 30px;
    margin-bottom: 30px;
}

.m-sm-y-40{
    margin-top: 40px;
    margin-bottom: 40px;
}

.m-sm-y-50{
    margin-top: 50px;
    margin-bottom: 50px;
}

.m-sm-y-100{
    margin-top: 100px;
    margin-bottom: 100px;
}

/* margin x */

.m-sm-x-0{
    margin-left: 0px;
    margin-right: 0px;
}

.m-sm-x-5{
    margin-left: 5px;
    margin-right: 5px;
}

.m-sm-x-10{
    margin-left: 10px;
    margin-right: 10px;
}

.m-sm-x-15{
    margin-left: 15px;
    margin-right: 15px;
}

.m-sm-x-20{
    margin-left: 20px;
    margin-right: 20px;
}

.m-sm-x-25{
    margin-left: 25px;
    margin-right: 25px;
}

.m-sm-x-30{
    margin-left: 30px;
    margin-right: 30px;
}

.m-sm-x-40{
    margin-left: 40px;
    margin-right: 40px;
}

.m-sm-x-50{
    margin-left: 50px;
    margin-right: 50px;
}

.m-sm-x-100{
    margin-left: 100px;
    margin-right: 100px;
}

/* margin top */

.m-sm-t-0{
    margin-top: 0px;
}

.m-sm-t-5{
    margin-top: 5px;
}

.m-sm-t-10{
    margin-top: 10px;
}

.m-sm-t-15{
    margin-top: 15px;
}

.m-sm-t-20{
    margin-top: 20px;
}

.m-sm-t-25{
    margin-top: 25px;
}

.m-sm-t-30{
    margin-top: 30px;
}

.m-sm-t-40{
    margin-top: 40px;
}

.m-sm-t-50{
    margin-top: 50px;
}

.m-sm-t-100{
    margin-top: 100px;
}

/* margin bottom */

.m-sm-b-0{
    margin-bottom: 0px;
}

.m-sm-b-5{
    margin-bottom: 5px;
}

.m-sm-b-10{
    margin-bottom: 10px;
}

.m-sm-b-15{
    margin-bottom: 15px;
}

.m-sm-b-20{
    margin-bottom: 20px;
}

.m-sm-b-25{
    margin-bottom: 25px;
}

.m-sm-b-30{
    margin-bottom: 30px;
}

.m-sm-b-40{
    margin-bottom: 40px;
}

.m-sm-b-50{
    margin-bottom: 50px;
}

.m-sm-b-100{
    margin-bottom: 100px;
}

/* margin left */

.m-sm-l-0{
    margin-left: 0px;
}

.m-sm-l-5{
    margin-left: 5px;
}

.m-sm-l-10{
    margin-left: 10px;
}

.m-sm-l-15{
    margin-left: 15px;
}

.m-sm-l-20{
    margin-left: 20px;
}

.m-sm-l-25{
    margin-left: 25px;
}

.m-sm-l-30{
    margin-left: 30px;
}

.m-sm-l-40{
    margin-left: 40px;
}

.m-sm-l-50{
    margin-left: 50px;
}

.m-sm-l-100{
    margin-left: 100px;
}

/* margin right */

.m-sm-r-0{
    margin-right: 0px;
}

.m-sm-r-5{
    margin-right: 5px;
}

.m-sm-r-10{
    margin-right: 10px;
}

.m-sm-r-15{
    margin-right: 15px;
}

.m-sm-r-20{
    margin-right: 20px;
}

.m-sm-r-25{
    margin-right: 25px;
}

.m-sm-r-30{
    margin-right: 30px;
}

.m-sm-r-40{
    margin-right: 40px;
}

.m-sm-r-50{
    margin-right: 50px;
}

.m-sm-r-100{
    margin-right: 100px;
}
    
}

@media screen and (min-width: 768px) {

    /****** PADDING ******/
    
    /* Full padding */
    
    .p-md-0{
        padding: 0;
    }
    
    .p-md-5{
        padding: 5px;
    }
    
    .p-md-10{
        padding: 10px;
    }
    
    .p-md-15{
        padding: 15px;
    }
    
    .p-md-20{
        padding: 20px;
    }
    
    .p-md-25{
        padding: 25px;
    }
    
    .p-md-30{
        padding: 30px;
    }
    
    .p-md-40{
        padding: 40px;
    }
    
    .p-md-50{
        padding: 50px;
    }
    
    .p-md-100{
        padding: 100px;
    }
    
    /* padding y */
    
    .p-md-y-0{
        padding-top: 0px;
        padding-bottom: 0px;
    }
    
    .p-md-y-5{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .p-md-y-10{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .p-md-y-15{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    .p-md-y-20{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .p-md-y-25{
        padding-top: 25px;
        padding-bottom: 25px;
    }
    
    .p-md-y-30{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .p-md-y-40{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    .p-md-y-50{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .p-md-y-100{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    /* padding x */
    
    .p-md-x-0{
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .p-md-x-5{
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .p-md-x-10{
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .p-md-x-15{
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .p-md-x-20{
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .p-md-x-25{
        padding-left: 25px;
        padding-right: 25px;
    }
    
    .p-md-x-30{
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .p-md-x-40{
        padding-left: 40px;
        padding-right: 40px;
    }
    
    .p-md-x-50{
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .p-md-x-100{
        padding-left: 100px;
        padding-right: 100px;
    }
    
    /* padding top */
    
    .p-md-t-0{
        padding-top: 0px;
    }
    
    .p-md-t-5{
        padding-top: 5px;
    }
    
    .p-md-t-10{
        padding-top: 10px;
    }
    
    .p-md-t-15{
        padding-top: 15px;
    }
    
    .p-md-t-20{
        padding-top: 20px;
    }
    
    .p-md-t-25{
        padding-top: 25px;
    }
    
    .p-md-t-30{
        padding-top: 30px;
    }
    
    .p-md-t-40{
        padding-top: 40px;
    }
    
    .p-md-t-50{
        padding-top: 50px;
    }
    
    .p-md-t-100{
        padding-top: 100px;
    }
    
    /* padding bottom */
    
    .p-md-b-0{
        padding-bottom: 0px;
    }
    
    .p-md-b-5{
        padding-bottom: 5px;
    }
    
    .p-md-b-10{
        padding-bottom: 10px;
    }
    
    .p-md-b-15{
        padding-bottom: 15px;
    }
    
    .p-md-b-20{
        padding-bottom: 20px;
    }
    
    .p-md-b-25{
        padding-bottom: 25px;
    }
    
    .p-md-b-30{
        padding-bottom: 30px;
    }
    
    .p-md-b-40{
        padding-bottom: 40px;
    }
    
    .p-md-b-50{
        padding-bottom: 50px;
    }
    
    .p-md-b-100{
        padding-bottom: 100px;
    }
    
    /* padding left */
    
    .p-md-l-0{
        padding-left: 0px;
    }
    
    .p-md-l-5{
        padding-left: 5px;
    }
    
    .p-md-l-10{
        padding-left: 10px;
    }
    
    .p-md-l-15{
        padding-left: 15px;
    }
    
    .p-md-l-20{
        padding-left: 20px;
    }
    
    .p-md-l-25{
        padding-left: 25px;
    }
    
    .p-md-l-30{
        padding-left: 30px;
    }
    
    .p-md-l-40{
        padding-left: 40px;
    }
    
    .p-md-l-50{
        padding-left: 50px;
    }
    
    .p-md-l-100{
        padding-left: 100px;
    }
    
    /* padding right */
    
    .p-md-r-0{
        padding-right: 0px;
    }
    
    .p-md-r-5{
        padding-right: 5px;
    }
    
    .p-md-r-10{
        padding-right: 10px;
    }
    
    .p-md-r-15{
        padding-right: 15px;
    }
    
    .p-md-r-20{
        padding-right: 20px;
    }
    
    .p-md-r-25{
        padding-right: 25px;
    }
    
    .p-md-r-30{
        padding-right: 30px;
    }
    
    .p-md-r-40{
        padding-right: 40px;
    }
    
    .p-md-r-50{
        padding-right: 50px;
    }
    
    .p-md-r-100{
        padding-right: 100px;
    }
    
    /****** MARGIN ******/
    
    /* Full margin */
    
    .m-md-0{
        margin: 0;
    }
    
    .m-md-5{
        margin: 5px;
    }
    
    .m-md-10{
        margin: 10px;
    }
    
    .m-md-15{
        margin: 15px;
    }
    
    .m-md-20{
        margin: 20px;
    }
    
    .m-md-25{
        margin: 25px;
    }
    
    .m-md-30{
        margin: 30px;
    }
    
    .m-md-40{
        margin: 40px;
    }
    
    .m-md-50{
        margin: 50px;
    }
    
    .m-md-100{
        margin: 100px;
    }
    
    /* margin y */
    
    .m-md-y-0{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .m-md-y-5{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    .m-md-y-10{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .m-md-y-15{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .m-md-y-20{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .m-md-y-25{
        margin-top: 25px;
        margin-bottom: 25px;
    }
    
    .m-md-y-30{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .m-md-y-40{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    
    .m-md-y-50{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    .m-md-y-100{
        margin-top: 100px;
        margin-bottom: 100px;
    }
    
    /* margin x */
    
    .m-md-x-0{
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .m-md-x-5{
        margin-left: 5px;
        margin-right: 5px;
    }
    
    .m-md-x-10{
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .m-md-x-15{
        margin-left: 15px;
        margin-right: 15px;
    }
    
    .m-md-x-20{
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .m-md-x-25{
        margin-left: 25px;
        margin-right: 25px;
    }
    
    .m-md-x-30{
        margin-left: 30px;
        margin-right: 30px;
    }
    
    .m-md-x-40{
        margin-left: 40px;
        margin-right: 40px;
    }
    
    .m-md-x-50{
        margin-left: 50px;
        margin-right: 50px;
    }
    
    .m-md-x-100{
        margin-left: 100px;
        margin-right: 100px;
    }
    
    /* margin top */
    
    .m-md-t-0{
        margin-top: 0px;
    }
    
    .m-md-t-5{
        margin-top: 5px;
    }
    
    .m-md-t-10{
        margin-top: 10px;
    }
    
    .m-md-t-15{
        margin-top: 15px;
    }
    
    .m-md-t-20{
        margin-top: 20px;
    }
    
    .m-md-t-25{
        margin-top: 25px;
    }
    
    .m-md-t-30{
        margin-top: 30px;
    }
    
    .m-md-t-40{
        margin-top: 40px;
    }
    
    .m-md-t-50{
        margin-top: 50px;
    }
    
    .m-md-t-100{
        margin-top: 100px;
    }
    
    /* margin bottom */
    
    .m-md-b-0{
        margin-bottom: 0px;
    }
    
    .m-md-b-5{
        margin-bottom: 5px;
    }
    
    .m-md-b-10{
        margin-bottom: 10px;
    }
    
    .m-md-b-15{
        margin-bottom: 15px;
    }
    
    .m-md-b-20{
        margin-bottom: 20px;
    }
    
    .m-md-b-25{
        margin-bottom: 25px;
    }
    
    .m-md-b-30{
        margin-bottom: 30px;
    }
    
    .m-md-b-40{
        margin-bottom: 40px;
    }
    
    .m-md-b-50{
        margin-bottom: 50px;
    }
    
    .m-md-b-100{
        margin-bottom: 100px;
    }
    
    /* margin left */
    
    .m-md-l-0{
        margin-left: 0px;
    }
    
    .m-md-l-5{
        margin-left: 5px;
    }
    
    .m-md-l-10{
        margin-left: 10px;
    }
    
    .m-md-l-15{
        margin-left: 15px;
    }
    
    .m-md-l-20{
        margin-left: 20px;
    }
    
    .m-md-l-25{
        margin-left: 25px;
    }
    
    .m-md-l-30{
        margin-left: 30px;
    }
    
    .m-md-l-40{
        margin-left: 40px;
    }
    
    .m-md-l-50{
        margin-left: 50px;
    }
    
    .m-md-l-100{
        margin-left: 100px;
    }
    
    /* margin right */
    
    .m-md-r-0{
        margin-right: 0px;
    }
    
    .m-md-r-5{
        margin-right: 5px;
    }
    
    .m-md-r-10{
        margin-right: 10px;
    }
    
    .m-md-r-15{
        margin-right: 15px;
    }
    
    .m-md-r-20{
        margin-right: 20px;
    }
    
    .m-md-r-25{
        margin-right: 25px;
    }
    
    .m-md-r-30{
        margin-right: 30px;
    }
    
    .m-md-r-40{
        margin-right: 40px;
    }
    
    .m-md-r-50{
        margin-right: 50px;
    }
    
    .m-md-r-100{
        margin-right: 100px;
    }
        
}

@media screen and (min-width: 992px) {

    /****** PADDING ******/
    
    /* Full padding */
    
    .p-lg-0{
        padding: 0;
    }
    
    .p-lg-5{
        padding: 5px;
    }
    
    .p-lg-10{
        padding: 10px;
    }
    
    .p-lg-15{
        padding: 15px;
    }
    
    .p-lg-20{
        padding: 20px;
    }
    
    .p-lg-25{
        padding: 25px;
    }
    
    .p-lg-30{
        padding: 30px;
    }
    
    .p-lg-40{
        padding: 40px;
    }
    
    .p-lg-50{
        padding: 50px;
    }
    
    .p-lg-100{
        padding: 100px;
    }
    
    /* padding y */
    
    .p-lg-y-0{
        padding-top: 0px;
        padding-bottom: 0px;
    }
    
    .p-lg-y-5{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .p-lg-y-10{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .p-lg-y-15{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    .p-lg-y-20{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .p-lg-y-25{
        padding-top: 25px;
        padding-bottom: 25px;
    }
    
    .p-lg-y-30{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .p-lg-y-40{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    .p-lg-y-50{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .p-lg-y-100{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    /* padding x */
    
    .p-lg-x-0{
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .p-lg-x-5{
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .p-lg-x-10{
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .p-lg-x-15{
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .p-lg-x-20{
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .p-lg-x-25{
        padding-left: 25px;
        padding-right: 25px;
    }
    
    .p-lg-x-30{
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .p-lg-x-40{
        padding-left: 40px;
        padding-right: 40px;
    }
    
    .p-lg-x-50{
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .p-lg-x-100{
        padding-left: 100px;
        padding-right: 100px;
    }
    
    /* padding top */
    
    .p-lg-t-0{
        padding-top: 0px;
    }
    
    .p-lg-t-5{
        padding-top: 5px;
    }
    
    .p-lg-t-10{
        padding-top: 10px;
    }
    
    .p-lg-t-15{
        padding-top: 15px;
    }
    
    .p-lg-t-20{
        padding-top: 20px;
    }
    
    .p-lg-t-25{
        padding-top: 25px;
    }
    
    .p-lg-t-30{
        padding-top: 30px;
    }
    
    .p-lg-t-40{
        padding-top: 40px;
    }
    
    .p-lg-t-50{
        padding-top: 50px;
    }
    
    .p-lg-t-100{
        padding-top: 100px;
    }
    
    /* padding bottom */
    
    .p-lg-b-0{
        padding-bottom: 0px;
    }
    
    .p-lg-b-5{
        padding-bottom: 5px;
    }
    
    .p-lg-b-10{
        padding-bottom: 10px;
    }
    
    .p-lg-b-15{
        padding-bottom: 15px;
    }
    
    .p-lg-b-20{
        padding-bottom: 20px;
    }
    
    .p-lg-b-25{
        padding-bottom: 25px;
    }
    
    .p-lg-b-30{
        padding-bottom: 30px;
    }
    
    .p-lg-b-40{
        padding-bottom: 40px;
    }
    
    .p-lg-b-50{
        padding-bottom: 50px;
    }
    
    .p-lg-b-100{
        padding-bottom: 100px;
    }
    
    /* padding left */
    
    .p-lg-l-0{
        padding-left: 0px;
    }
    
    .p-lg-l-5{
        padding-left: 5px;
    }
    
    .p-lg-l-10{
        padding-left: 10px;
    }
    
    .p-lg-l-15{
        padding-left: 15px;
    }
    
    .p-lg-l-20{
        padding-left: 20px;
    }
    
    .p-lg-l-25{
        padding-left: 25px;
    }
    
    .p-lg-l-30{
        padding-left: 30px;
    }
    
    .p-lg-l-40{
        padding-left: 40px;
    }
    
    .p-lg-l-50{
        padding-left: 50px;
    }
    
    .p-lg-l-100{
        padding-left: 100px;
    }
    
    /* padding right */
    
    .p-lg-r-0{
        padding-right: 0px;
    }
    
    .p-lg-r-5{
        padding-right: 5px;
    }
    
    .p-lg-r-10{
        padding-right: 10px;
    }
    
    .p-lg-r-15{
        padding-right: 15px;
    }
    
    .p-lg-r-20{
        padding-right: 20px;
    }
    
    .p-lg-r-25{
        padding-right: 25px;
    }
    
    .p-lg-r-30{
        padding-right: 30px;
    }
    
    .p-lg-r-40{
        padding-right: 40px;
    }
    
    .p-lg-r-50{
        padding-right: 50px;
    }
    
    .p-lg-r-100{
        padding-right: 100px;
    }
    
    /****** MARGIN ******/
    
    /* Full margin */
    
    .m-lg-0{
        margin: 0;
    }
    
    .m-lg-5{
        margin: 5px;
    }
    
    .m-lg-10{
        margin: 10px;
    }
    
    .m-lg-15{
        margin: 15px;
    }
    
    .m-lg-20{
        margin: 20px;
    }
    
    .m-lg-25{
        margin: 25px;
    }
    
    .m-lg-30{
        margin: 30px;
    }
    
    .m-lg-40{
        margin: 40px;
    }
    
    .m-lg-50{
        margin: 50px;
    }
    
    .m-lg-100{
        margin: 100px;
    }
    
    /* margin y */
    
    .m-lg-y-0{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .m-lg-y-5{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    .m-lg-y-10{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .m-lg-y-15{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .m-lg-y-20{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .m-lg-y-25{
        margin-top: 25px;
        margin-bottom: 25px;
    }
    
    .m-lg-y-30{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .m-lg-y-40{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    
    .m-lg-y-50{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    .m-lg-y-100{
        margin-top: 100px;
        margin-bottom: 100px;
    }
    
    /* margin x */
    
    .m-lg-x-0{
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .m-lg-x-5{
        margin-left: 5px;
        margin-right: 5px;
    }
    
    .m-lg-x-10{
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .m-lg-x-15{
        margin-left: 15px;
        margin-right: 15px;
    }
    
    .m-lg-x-20{
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .m-lg-x-25{
        margin-left: 25px;
        margin-right: 25px;
    }
    
    .m-lg-x-30{
        margin-left: 30px;
        margin-right: 30px;
    }
    
    .m-lg-x-40{
        margin-left: 40px;
        margin-right: 40px;
    }
    
    .m-lg-x-50{
        margin-left: 50px;
        margin-right: 50px;
    }
    
    .m-lg-x-100{
        margin-left: 100px;
        margin-right: 100px;
    }
    
    /* margin top */
    
    .m-lg-t-0{
        margin-top: 0px;
    }
    
    .m-lg-t-5{
        margin-top: 5px;
    }
    
    .m-lg-t-10{
        margin-top: 10px;
    }
    
    .m-lg-t-15{
        margin-top: 15px;
    }
    
    .m-lg-t-20{
        margin-top: 20px;
    }
    
    .m-lg-t-25{
        margin-top: 25px;
    }
    
    .m-lg-t-30{
        margin-top: 30px;
    }
    
    .m-lg-t-40{
        margin-top: 40px;
    }
    
    .m-lg-t-50{
        margin-top: 50px;
    }
    
    .m-lg-t-100{
        margin-top: 100px;
    }
    
    /* margin bottom */
    
    .m-lg-b-0{
        margin-bottom: 0px;
    }
    
    .m-lg-b-5{
        margin-bottom: 5px;
    }
    
    .m-lg-b-10{
        margin-bottom: 10px;
    }
    
    .m-lg-b-15{
        margin-bottom: 15px;
    }
    
    .m-lg-b-20{
        margin-bottom: 20px;
    }
    
    .m-lg-b-25{
        margin-bottom: 25px;
    }
    
    .m-lg-b-30{
        margin-bottom: 30px;
    }
    
    .m-lg-b-40{
        margin-bottom: 40px;
    }
    
    .m-lg-b-50{
        margin-bottom: 50px;
    }
    
    .m-lg-b-100{
        margin-bottom: 100px;
    }
    
    /* margin left */
    
    .m-lg-l-0{
        margin-left: 0px;
    }
    
    .m-lg-l-5{
        margin-left: 5px;
    }
    
    .m-lg-l-10{
        margin-left: 10px;
    }
    
    .m-lg-l-15{
        margin-left: 15px;
    }
    
    .m-lg-l-20{
        margin-left: 20px;
    }
    
    .m-lg-l-25{
        margin-left: 25px;
    }
    
    .m-lg-l-30{
        margin-left: 30px;
    }
    
    .m-lg-l-40{
        margin-left: 40px;
    }
    
    .m-lg-l-50{
        margin-left: 50px;
    }
    
    .m-lg-l-100{
        margin-left: 100px;
    }
    
    /* margin right */
    
    .m-lg-r-0{
        margin-right: 0px;
    }
    
    .m-lg-r-5{
        margin-right: 5px;
    }
    
    .m-lg-r-10{
        margin-right: 10px;
    }
    
    .m-lg-r-15{
        margin-right: 15px;
    }
    
    .m-lg-r-20{
        margin-right: 20px;
    }
    
    .m-lg-r-25{
        margin-right: 25px;
    }
    
    .m-lg-r-30{
        margin-right: 30px;
    }
    
    .m-lg-r-40{
        margin-right: 40px;
    }
    
    .m-lg-r-50{
        margin-right: 50px;
    }
    
    .m-lg-r-100{
        margin-right: 100px;
    }
        
}